{% extends "base.html" %}
{% block body %}
{% load static %}
<div id="editor">
    <p>This is the editor content.</p>
</div>
<script src="{% static '/ckeditor5-build-classic/ckeditor.js' %}"></script>
<!--<script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>-->
<script>


	ClassicEditor
		.create( document.querySelector( '#editor' ) )
		.then( editor => {
			window.editor = editor;
		} )
		.catch( error => {
			console.error( 'There was a problem initializing the editor.', error );
		} );
</script>
{% endblock %}